# Created by https://www.gitignore.io

### PyCharm ###
*.iml

## Directory-based project format:
.idea/

## File-based project format:
*.ipr
*.iws

### Python ###
## Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

db.sqlite3
.version

dev_settings.py
