h1{font-size: 16px}
        dl,dt,dd{
            padding: 0;
            margin: 0;
        }
        dl{
            width: 700px;
            height: 200px;
            background: url(../images/bg4.jpg) no-repeat right top;
            padding: 50px;
        }
        dt{
            float: left;
            position: relative;
            color: white;
            left: 30px;
            top: 160px;
            font-weight: bold;
        }
        dd{float: left}
        img{
            width: 50px;
        }
        dt:nth-last-of-type(1){
            color: red;
            font-size: 2em;
            left: 40px;
        }
        dt:first-of-type{
            color: #c09;
            font-size: 2em;
            top: 100px;
            left: 30px;
        }